@import "main.scss"; 

.imageSoad {
  display: block;
  bottom: 100px;
  position: absolute;
}

.game-back {
  background-image: url(../img/bg_dote_yuyake.jpg);
  overflow: hidden;
  z-index: 1000;
}

.game-time {
  position: absolute;
  background-color: grey;
  color: #f0f0f0;
  width: 100px;
  height: 60px;
  border-radius: 10px 10px 10px 10px;
  border: solid 2px rgb(70, 70, 70);
  top: 30%;
  right: 10%;
  font-size: 40px;
  font-weight: 600;
}

.game-fire {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(-15deg);
  font-size: 50px;
  font-weight: 800;
  color: rgb(140, 0, 0);
  letter-spacing: 20px;
}
.game-modal {
  &-box {
    border-radius: 10px 10px 5px 5px;
  }
  &-button {
    border: none;
    cursor: pointer;
    padding: 10px;
    opacity: 0.7;
    font-weight: 800;
    font-size: 15px;
    margin: 30px;
    &:hover {
      opacity: 1;
      text-shadow: 1px 1px 1px;
      transition: 0.1s all;
    }
    &:active {
      opacity: 1;
      transform: translate(-1%, 3%);
      transition: 0.1 all;
    }
  }

  &-rematch {
    margin-top: 10px;
    margin-left: 20px;
    padding: 20px;
  }
}

.game-header {
  z-index: -1;
  height: 30px;
  font-size: 20px;
  border-bottom: double 2px rgb(70, 70, 70);
}
.msk {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(30, 30, 30, 0.6);
  z-index: 10;
}


.game-name {
    max-width: 30vw;
    overflow: hidden;
    white-space: nowrap;
}